BACKEND_API_URL=https://inference.api.libertai.io
BACKEND_SECRET_TOKEN=__ADMIN__SECRET__TOKEN__
MODELS_CONFIG=/data/models.json

# Telegram alerting
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_TOPIC_ID=

# -- Logging --
LOG_LEVEL=DEBUG
LOG_FILE=./debug.log